<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

  {% if page.title %}
  <title>{{ page.title | strip_html }} | {{ site.title }} {{ site.year }}</title>
  {% else %}
  <title>{{ site.title }} {{ site.year }} | {{ site.subtitle }}</title>
  {% endif %}

  <meta property="fb:admins" content="715330868">
  <meta property="fb:app_id" content="805184859580207">
  <meta name="twitter:card"  content="summary" />
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title | strip_html }} | {{ site.title }} {{ site.year }}" />
  <meta property="og:title"  content="{{ page.title | strip_html }} | {{ site.title }} {{ site.year }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }} {{ site.year }} | {{ site.subtitle }}" />
  <meta property="og:title"  content="{{ site.title }} {{ site.year }} | {{ site.subtitle }}" />
  {% endif %}

  {% if page.thumbnail %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}" />
  <meta property="og:image"  content="{{ site.url }}{{ page.thumbnail }}" />
  {% else %}
  <meta name="twitter:image" content="{{ site.url }}/img/cover.jpg" />
  <meta property="og:image"  content="{{ site.url }}/img/cover.jpg" />
  {% endif %}

  {% if page.url != "/" %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page.description %}
  <meta property="og:description"  content="{{ page.description | strip_html | escape }}" />
  <meta name="twitter:description" content="{{ page.description | strip_html | escape }}" />
  <meta name="description"         content="{{ page.description | strip_html | escape }}" />
  {% else %}
  <meta property="og:description"  content="{{ site.description | strip_html | escape }}" />
  <meta name="twitter:description" content="{{ site.description | strip_html | escape }}" />
  <meta name="description"         content="{{ site.description | strip_html | escape }}" />
  {% endif %}

  <link rel="icon" href="/img/cpj.svg"  sizes="any" type="image/svg+xml">
  <link rel="icon" href="/img/cpj.webp" sizes="512" type="image/webp">
  <link rel="apple-touch-icon" href="/img/cpj.png">

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4.1.14" integrity="sha512-M4ecs0CyhBq7W0PeumwMxVaA9pWbhuD4mCqGTe7/357R8/avaeGSJAtk2dYCgFrZyWvjq1Sju0Wcyf2jnP941Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
</head>
