<!-- ヘッダー本体 -->
<header class="bg-white w-full sticky top-0 z-50 shadow-sm">

  <div class="mx-auto">

    <div class="flex py-1 px-4 items-center justify-between">

      <div class="items-center flex justify-between gap-8">
        <a class="block flex items-center gap-4 py-3" href="/">
          <img
            src="/img/cpj.svg"
            class="h-12"
            alt="Coolest Projects Japan Logo"
            title="Coolest Projects Japan Logo"
          />
        </a>

        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-xl">
            <li>
              <a class="header-txt" href="/about"> 開催概要 </a>
            </li>
            <li>
              <a class="header-txt" href="/sponsors"> スポンサー </a>
            </li>
            <li>
              <a class="header-txt" href="/register"> 来場応募する </a>
            </li>
            <li>
              <a class="header-txt" href="/faq"> よくある質問 </a>
            </li>
          </ul>
        </nav>

      </div>
      <!--- <a href="/apply" class="button-base"> 作品を応募する </a> --->
    </div>
  </div>
</header>