@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* ========== パレット ========== */
  
  /* --- カラーパレット --- */
  --clr-gold: #C39600;
  --clr-txt-black: #444444;
  --clr-white: #FFFFFF;

  /* --- フォントパレット --- */
  --ff-roboto: "Roboto", sans-serif;
  --ff-league-gothic: "League Gothic", sans-serif;

  /* --- フォントサイズパレット --- */
  --fs-xs: 0.75rem;    /* 12px */
  --fs-sm: 0.875rem;   /* 14px */
  --fs-base: 1rem;     /* 16px */
  --fs-lg: 1.125rem;   /* 18px */
  --fs-xl: 1.25rem;    /* 20px */
  --fs-2xl: 1.5rem;    /* 24px */
  --fs-3xl: 1.875rem;  /* 30px */
  --fs-4xl: 2.25rem;   /* 36px */
  --fs-5xl: 3rem;      /* 48px */
  --fs-6xl: 3.75rem;   /* 60px */

  /* --- フォントウェイトパレット --- */
  --fw-base: 600;
  --fw-bold: 800;

  /* ========== テーマ ========== */

  /* --- カラーテーマ --- */
  --clr-hero-bg: var(--clr-gold);
  --clr-txt-main: var(--clr-txt-black);

  /* --- フォントテーマー --- */
  --ff-heading: var(--ff-league-gothic);
  --ff-body: var(--ff-roboto);

  /* --- フォントサイズテーマ --- */
  --fs-h1: var(--fs-2xl); /* ページタイトル */
  --fs-h2: var(--fs-lg); /* セクション見出し */
  --fs-h3: var(--fs-xl); /* 小見出し */
  --fs-body: var(--fs-base); /* 本文 */

  /* --- フォントウェイトテーマ --- */
  --fw-body: var(--fw-base);
  --fw-heading: var(--fw-bold);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-self: stretch;
  background-color: var(--clr-hero-bg);
  padding: 4rem 1rem;
  color: var(--clr-white);
  font-family: var(--ff-body);
  font-weight: var(--fw-heading);
}

.hero h1{
  font-size: var(--fs-h1);
}

.hero .subtitle{
  font-size: var(--fs-base);
}