<!DOCTYPE html>
<html lang="ja" dir="ltr">
  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="flex-grow">
      <header class="hero">
        <div class="hero-container">
          <h1 class="hero-title">{{ page.hero_title }}</h1>
          <p class="hero-subtitle">{{ page.hero_subtitle }}</p>
        </div>
      </header>
      {{ content }}
    </main>

    {% include footer.html %}

    <script type="module" src="/assets/js/cookieconsent-config.js"></script>
  </body>
</html>
