<!DOCTYPE html>
<html lang="ja" dir="ltr">
  {% include head.html %}

  <body class="min-h-screen flex flex-col">
    {% include header.html %}
    <main class="flex-grow">
      <header class="hero">
        <div class="hero-container">
          <h1 class="hero-title">{{ page.hero_title | default: page.title }}</h1>
          <p class="hero-subtitle">{{ page.hero_subtitle | default: page.subtitle }}</p>
        </div>
      </header>
      {{ content }}
    </main>

    <div class="mt-auto">
      {% include footer.html %}
    </div>

    <script type="module" src="/assets/js/cookieconsent-config.js"></script>
  </body>
</html>
